
<h1>Blackjack!</h1>

<h4>Dealer's Cards:<br>
<img src="/images/cards/cover.jpg" />
<img src= <%= "#{session[:card_path] + session[:dealer_cards].last}" %> />

<br>
<br>

<p><%= session[:name] %>'s Cards:<br>

<% session[:player_cards].each do |card| %>
<img src= <%= "#{session[:card_path] + card}" %> /> <% end %>
<br>
<br>
You have <%= session[:player_total] %>. 


<span>
<% if session[:player_total] == 21 %>
You have Blackjack! You win!
<% session[:total_amount] = (session[:total_amount] + session[:bet_amount]) %>
You now have a total of $<%=  session[:total_amount]%>
Play again? <a href="/bet" class="btn btn-primary"> Yes </a>
<a href="/game_over" class="btn"> No </a>
<% elsif session[:player_total] > 21 %>
Busted! You lose!
<% session[:total_amount] = (session[:total_amount] - session[:bet_amount]) %>
You now have a total of $<%=  session[:total_amount]%>
Play again? <a href="/bet" class="btn btn-primary"> Yes </a>
<a href="/game_over" class="btn"> No </a>
</span>
<% else %>
What would you like to do, <%= session[:name] %>?

<form id="hit" action='/game/player_hit' method="post">
  <input type="submit" class="btn btn-success btn-large" name="hit" value="Hit">
</form>

<form id="stay" action='/game/player_stay' method="post">
  <input type="submit" class="btn btn-danger btn-large" name="stay" value="Stay">
</form>
<% end %>

<span>
<table>
<tr><small style="color:gray"; "size:10">You have <strong>$<%= session[:total_amount] %></strong>. Bet amount this round: <strong>$<%= session[:bet_amount] %></strong></small>
</tr>
</table>
</span>